    .container1 {
    background-color: black;
    width: 100%;
    max-width: 2500px;
    margin: 0px auto;
  }
 .cont{
margin-bottom: 100px;
}
  .news-section {
    
  display: flex;
  padding: 10px; 
  border-bottom: 1px solid lightgray;
 
  width: 1200px;
}

.news-section article {
  flex: 1;
  margin-right: 18px;
}

.news-section h2 {
  font-size: 24px;
  margin: 0 0 100px 0;
  text-align:initial;
}

.news-section p {
  color: #666;
  margin:0 0 100px;
}

.main-image {
  height:230px;
  width: 300px;
  margin: 0;
  left: 0;
  margin-top: 15px;

}

.news-section article {
  flex: 1;
  margin-right: 18px;
  height: 200px; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  width: 100%;
 
}

.news-section h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
  flex: 0 0 auto; 
}

  